### /etc/nginx/sites-available/opl-api
### ln -s /etc/nginx/sites-available/opl-api /etc/nginx/sites-enabled
### sudo nginx -t
### sudo systemctl restart nginx

server {
    listen 8080;
    server_name your_domain www.oplearning.org;

    location / {
                # Simple requests
                if ($request_method ~* "(GET|POST)") {
                        add_header "Access-Control-Allow-Origin"  *;
                }

                # Preflighted requests
                if ($request_method = OPTIONS ) {
                        add_header "Access-Control-Allow-Origin"  *;
                        add_header "Access-Control-Allow-Methods" "GET, POST, OPTIONS, HEAD";
                        add_header "Access-Control-Allow-Headers" "Authorization, Origin, X-Requested-With, Content-Type, Accept";
                        return 200;
                }

        include proxy_params;
        proxy_pass http://unix:/home/ubuntu/opl_microservice/opl_microservice.sock;
    }
}