### /etc/nginx/sites-available/opl-api
### ln -s /etc/nginx/sites-available/opl-api /etc/nginx/sites-enabled
### sudo nginx -t
### sudo systemctl restart nginx

server {
    listen 8080;
    server_name your_domain www.oplearning.org;

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/ubuntu/opl_microservice/opl_microservice.sock;
    }
}